<launch> 
    <arg name="pkg_path" value="$(find grasp_generator)"/>
    <arg name="python_path" value="$(arg pkg_path)/src/grasp_generator_node.py"/>
    <arg name="conda_env" value="grasp_generator"/>
    
    <!-- Launch the node in the correct conda environment -->
    <node name="grasp_generator" pkg="grasp_generator" type="activate_conda_env.sh" 
                args="$(arg conda_env) $(arg python_path)" output="screen" respawn="false">
        <env name="CONDA_PATH" value="$(env CONDA_PATH)" />
    </node>
</launch>
